.login-page{
    display: flex;
    background: linear-gradient(180deg, #152C43 11.46%, #016F6C 100%);
}

.login-page-left{
    width: 50%;
    margin: auto;
}
.login-page-right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100Vh;
    width: 40%;
    margin: 0 0 auto auto;
}

.login-page__front{
    margin-left: auto;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.login-page-right::before{
    content: "";
    width: 40%;
    height: 100%;
    position: absolute;
    background-color: #152c4349;
    top: 0;
}

.login-page__logo {
    position: absolute;
    bottom: 1.5rem
}