
.event-element {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.10);
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    cursor: pointer;
}

.active-event {
    background-color: rgba(255, 255, 255, 0.40);
    -webkit-transition: background-color 900ms linear;
    -ms-transition: background-color 900ms linear;
    transition: background-color 900ms linear;
}


